extends ../../../pug/layout
block metaSize
	meta(name="ad.size", content='width=300,height=250')

block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		img(src="images/Lowes_Kobalt_Q4_Img_01.png")#cobalt_arm_1
		img(src="images/Lowes_Kobalt_Q4_Img_02.png")#cobalt_arm_2
		img(src="images/Lowes_Kobalt_Q4_Logo_01.png")#lowes_logo
		img(src="images/Lowes_Kobalt_Q4_Logo_02.png")#cobalt_logo
		img(src="images/Lowes_Kobalt_Q4_Text_01.png")#cpy_1
		img(src="images/Lowes_Kobalt_Q4_Text_02.png")#cpy_2
		img(src="images/Lowes_Kobalt_Q4_Text_03.png")#cpy_3
		#copy_comp
			img(src="images/Lowes_Kobalt_Q4_Img_03.png")#snowflake
			img(src="images/Lowes_Kobalt_Q4_Text_04.png")#cpy_4