doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/styles.css')
    block metaSize
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/cssplugin_1.20.0_35574bbb2cf06c392e9036c87b5a8474_min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/tweenlite_1.20.0_3393be0dce31ad0098cf6549eaa28a6c_min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/timelinemax_1.20.0_d82c0635e1c062329eb780229648d97f_min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/easepack_1.20.0_f9d13d59407792e37168747225359927_min.js")
    script(src="js/main.js")
  body.loading
    .preloader
      div
      div
    block content
    script App_banner.getInstance().init();
