$banner-width: 160px;
$banner-height: 600px;

@import "../../styles/main";

.step[data-order="1"] {
    background-image: url("pb_cb_bg.jpg");

    * {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-perspective: 1000;
    }

    .scale0 {
        transform: scale(0);
    }

    .opacity0 {
        opacity: 0;
    }

    .height0 {
        height: 0;
        overflow: hidden;
    }

    .skippy-small-product,
    .pretzel,
    .cloud,
    .ray-1,
    .ray-2,
    .ray-3,
    .ray-4,
    .ray-5,
    .ray-6,
    .cloud-txt,
    .cookie,
    .cookie-flipped-1,
    .cookie-flipped-2,
    .skippy-big-product,
    .skippy-big-product__cap,
    .txt-1,
    .txt-2,
    .logo,
    .skippy-small {
        position: absolute;
    }

    .skippy-small-product {
        bottom: 9px;
        left: 32px;
        z-index: 2;
    }

    .pretzel {
        right: 29px;
        top: 20px;
        z-index: 1;
    }

    .cloud {
        left: -23px;
        top: 173px;
        z-index: 1;
        opacity: 1;
    }

    .rays-container {
        opacity: 1;
        width: 160px;
        height: 600px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .ray-1 {
        left: -37px;
        top: 196px;
        transform: rotate(-187deg);
        opacity: 1;
    }

    .ray-2 {
        top: 152px;
        left: 75px;
        transform: rotate(4deg);
        opacity: 1;
    }

    .ray-3 {
        right: 5px;
        top: 216px;
        opacity: 1;
    }

    .ray-4 {
        left: 130px;
        top: 344px;
        transform: rotate(2deg);
        opacity: 1;
    }

    .ray-5 {
        right: 78px;
        top: 342px;
        opacity: 1;
    }

    .ray-6 {
        left: 10px;
        top: 308px;
        transform: rotate(-4deg);
        opacity: 1;
    }

    .cloud-txt {
        left: 13px;
        top: 244px;
        z-index: 2;
        opacity: 1;
    }

    .cookie {
        top: 272px;
        left: 46px;
        z-index: 4;
        opacity: 0;
    }

    .cookie-flipped-1 {
        left: 46px;
        top: 272px;
        opacity: 0;
        z-index: 3;
    }

    .skippy-big-product {
        left: 4px;
        top: 253px;
        z-index: 1;
        opacity: 0;
    }

      .skippy-big-product__cap {
        left: 5px;
        top: 243px;
        opacity: 0;
    }

    .cookie-1,
    .cookie-2,
    .cookie-3,
    .cookie-4,
    .cookie-5,
    .cookie-6,
    .cookie-7 {
        position: absolute;
        transform: scale(0.5);
        top: -70px;
    }

    .cookie-1 {
        left: -2px;
    }
    .cookie-2 {
        left: 16px;
    }
    .cookie-3 {
        left: 27px;
    }
    .cookie-4 {
        left: 51px;
    }
    .cookie-5 {
        left: 49px;
    }
     .cookie-5 {
        left: 42px;
    }
    .cookie-6 {
        left: 89px;
    }
    .cookie-7 {
        left: 70px;
    }


    .txt-1 {
        left: 11px;
        top: 202px;
        opacity: 0;
    }

    .txt-2 {
        left: 17px;
        top: 164px;
        opacity: 0;
    }

    .logo {
        right: 23px;
        top: -123px;
        opacity: 1;
    }
    .skippy-small{
        left: 22px;
        top: 779px;
        opacity: 0;
    }
    #cta-arrow {
        position: absolute;
        right: 24px;
        bottom: 223.2px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 0 9.5px 15px;
        border-color: transparent transparent transparent #f81521;
        -webkit-transform: rotate(360deg);
        opacity: 0;
        &:hover {
                border-color: transparent transparent transparent #ffde00;
        }
    }
    .legal {
        position: absolute;
        bottom: 0;
        left: 24px;
        opacity: 0;
    }
}