extends ../../jade/layout
block metaSize
  meta(name="ad.size", content='width=160,height=600')

block content
  #step-1.wrapper.white-state.centered-layout.step(data-order=1)
    .layout
        .skippy-small-product
            img(src="pd_cb_prod-1.png")
        .pretzel
            img(src="pb_cb_pretzel.png")
        .cloud
            img(src="pb_cb_cloud.png")
        .rays-container
            .ray-1
                img(src="pd_cb_rain-1.png")
            .ray-2
                img(src="pd_cb_rain-2.png")
            .ray-3
                img(src="pd_cb_rain-3.png")
            .ray-4
                img(src="pd_cb_rain-4.png")
            .ray-5
                img(src="pd_cb_rain-5.png")
            .ray-6
                img(src="pd_cb_rain-6.png")
        .cloud-txt
            img(src="pd_cb_txt_1.png")
        .cookie
            img(src="pd_cb_cookie-1.png")
        .cookie-flipped-1
            img(src="pd_cb_cookie-2.png")
        .txt-1
            include ../img/pd_cb_txt_2.svg
        .txt-2
            include ../img/pd_cb_txt_3.svg
        .logo
            img(src="pd_cb_logo.png")
        .cookie-rain
            .skippy-big-product
                img(src="pd_cb_prod-2.png")
            .skippy-big-product__cap
                img(src="pd_cb_prod-3.png")
            .cookie-1
                img(src="pd_cb_cookie-1.png")
            .cookie-3
                img(src="pd_cb_cookie-1.png")
            .cookie-2
                img(src="pd_cb_cookie-1.png")
            .cookie-4
                img(src="pd_cb_cookie-1.png")
            .cookie-5
                img(src="pd_cb_cookie-1.png")
            .cookie-6
                img(src="pd_cb_cookie-1.png")
            .cookie-7
                img(src="pd_cb_cookie-1.png")
        .skippy-small
            img(src="pd_cb_prod-4.png")
        a(href="", target="_blank")#cta-arrow
        .legal
            include ../img/pb_cb_legal.svg
