$banner-width: 728px;
$banner-height: 90px;

@import "../../styles/main";

.step[data-order="1"] {
    background-image: url("pb_cb_bg.jpg");

    * {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-perspective: 1000;
    }

    .scale0 {
        transform: scale(0);
    }

    .opacity0 {
        opacity: 0;
    }

    .height0 {
        height: 0;
        overflow: hidden;
    }

    .skippy-small-product,
    .pretzel,
    .cloud,
    .ray-1,
    .ray-2,
    .ray-3,
    .ray-4,
    .cloud-txt,
    .cookie,
    .cookie-flipped-1,
    .cookie-flipped-2,
    .skippy-big-product,
    .skippy-big-product__cap,
    .txt-1,
    .txt-2,
    .logo,
    .skippy-small {
        position: absolute;
    }

    .skippy-small-product {
        top: -12px;
        left: 21px;
        z-index: 2;
    }

    .pretzel {
        right: 23px;
        top: 3px;
        z-index: 1;
    }

    .cloud {
        left: 137px;
        top: -151px;
        transform: scale3d(0.7, 0.35, 1);
        z-index: 1;
        opacity: 1;
    }

    .rays-container {
        opacity: 1;
    }

    .ray-1 {
        left: 452px;
        top: 59px;
        transform: rotate(-187deg);
        opacity: 1;
    }

    .ray-2 {
        top: 57px;
        left: 185px;
        transform: rotate(4deg);
        opacity: 1;
    }

    .ray-3 {
        right: 195px;
        top: 18px;
        opacity: 1;
    }

    .ray-4 {
        left: 177px;
        transform: rotate(2deg);
        opacity: 1;
    }

    .cloud-txt {
        left: 257px;
        top: 11px;
        z-index: 2;
        opacity: 1;
    }

    .cookie {
        top: 4px;
        left: 318px;
        z-index: 4;
        opacity: 0;
    }

    .cookie-flipped-1 {
        left: 319px;
        top: 6px;
        opacity: 0;
        z-index: 3;
    }

    .skippy-big-product {
        left: 253px;
        top: 43px;
        z-index: 1;
        opacity: 0;
    }

      .skippy-big-product__cap {
        left: 255px;
        top: 27px;
        opacity: 0;
    }
    
    .cookie-1,
    .cookie-2,
    .cookie-3,
    .cookie-4,
    .cookie-5,
    .cookie-6,
    .cookie-7 {
        position: absolute;
        transform: scale(0.5);
        top: -70px;
    }

    .cookie-1 {
        left: 247px;
    }
    .cookie-2 {
        left: 289px;
    }
    .cookie-3 {
        left: 283px;
    }
    .cookie-4 {
        left: 317px;
    }
    .cookie-5 {
        left: 334px;
    }
     .cookie-5 {
        left: 342px;
    }
    .cookie-6 {
        left: 362px;
    }
    .cookie-7 {
        left: 370px;
    }


    .txt-1 {
        left: 144px;
        top: 32px;
        opacity: 0;
    }

    .txt-2 {
        left: 167px;
        top: 18px;
        opacity: 0;
    }

    .logo {
        right: -151px;
        top: 5px;
        opacity: 1;
    }
    .skippy-small{
        left: -24px;
        top:5px;
        opacity: 0;
    }
    #cta-arrow {
        position: absolute;
        right: 204px;
        bottom: 23.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9.5px 0 9.5px 15px;
        border-color: transparent transparent transparent #f81521;
        -webkit-transform: rotate(360deg);
        opacity: 0;
        &:hover {
                border-color: transparent transparent transparent #ffde00;
        }
    }
    .legal {
        position: absolute;
        bottom: 0;
        right: 4px;
        opacity: 0;
    }
}